@tailwind base;
@tailwind components;
@tailwind utilities;

.gridBackground{
    background-image: linear-gradient(90deg, rgba(177, 177, 177, 0.7) .1em, transparent .1em);
    background-size: 80px 80px;
}

.pill{
    border-radius: 25px;
    transition: 0.3s;
}

.pill:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 1); 
    cursor: pointer;
  }